In [6]:
import pandas as pd
import sqlalchemy as sal
import pyodbc

In [4]:
df=pd.read_json(r"C:\nitid\DATA_Analysis_Alex\Python\Scrapy_Project\Scrapy_Project\Scrapy_Project\booksdata.json")

In [ ]:
df.dtypes

In [7]:
engine = sal.create_engine(r'mssql://NitikaLaptop\SQLSERVER2022/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn = engine.connect()

In [8]:
df.to_sql("booksdata",con=conn, index=False, if_exists="append")

34

In [12]:
df.shape

(1000, 13)